@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#SideBar {
    background-color: white;
    padding: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-between;
    height: 88vh;
    border-radius: 0px 10px 10px 0px;
}


#SideBarItens {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 60px;
}

.SideBarItens {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 8px;
    cursor: pointer;
    align-items: left;
}

.SideBarItens a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    gap: 10px
}

.SideBarItens a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 0px;
}

#SideBarButtom {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

.logoutButtom {
    width: 100px;
    height: 40px;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    padding: 0px 31px 0px 0px;
    background-color: white;

}

.logoutButtom a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.logoutButtom a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 0px;
}