<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="{{url_for('static',filename='styles/userSide.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/SideBar.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/header.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='styles/Estoque.css')}}" rel="stylesheet">
    <title>BookStore</title>
</head>

<body>
    <header id="header">
        <div>
            <button id="SideBarButtom"><i id="openButtomIcon" class="fa-solid fa-bars"></i></button>
        </div>
        <div id="SearchBar">
            <input type="search" placeholder="Pesquisa de livros" id="barraPesquisa">
            <button id="botaoPesquisa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <nav id="topo_pagina">
            <ul id="Itens_topo">
                <li class="Itens-topo">
                    <a href="carrinho.html">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="Icon">Carrinho</span>
                    </a>
                </li>
                <li class="Itens-topo">
                    <a href="sobre.html">
                        <i class="fa-solid fa-comment"></i>
                        <span class="Icon">Sobre</span>
                    </a>
                </li>
                <li class="Itens-topo">
                    <a href="{{url_for('loginPage')}}">
                        <i class="fa-solid fa-user"></i>
                        <span class="Icon">Entrar</span>
                    </a>
                </li>

            </ul>
        </nav>
    </header>
    <div id="Container">
        <div id="SideBar">
            <div id="SideBarContent">
                <div id="user">
                    <img src="{{url_for('static',filename='assets/imagens/fern.png')}}" id="user_Avatar" alt="Avatar">
                    <p class="user_info">
                        <span class='itemDescription'>
                            {{username}}
                        </span>
                        <i class="fa-solid fa-circle-check"></i>
                    </p>
                </div>
                <ul id="SideBarItens">
                    <li class="SideBarItens active">
                        <a href="{{url_for('storePage')}}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class='itemDescription'>Loja</span>
                        </a>
                    </li>
                    <li class="SideBarItens ">
                        <a href="{{url_for('estoquePage')}}">
                            <i class="fa-solid fa-store"></i>
                            <span class='itemDescription'>Estoque</span>
                        </a>
                    </li>
                    <li class="SideBarItens">
                        <a href="{{url_for('histPage')}}">
                            <i class="fa-solid fa-clock-rotate-left"></i>
                            <span class='itemDescription'>Historico</span>
                        </a>
                    </li>
                    <li class="SideBarItens">
                        <a href="{{url_for('favPage')}}">
                            <i class="fa-solid fa-star"></i>
                            <span class='itemDescription'>Favoritos</span>
                        </a>
                    </li>
                </ul>
                <div>
                    <button class="logoutButtom">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class='itemDescription'>Sair</span>
                    </button>
                </div>
            </div>
        </div>
        <main id="main-content">
            <div id="GenerosLabel">
                <button id="genreButtom" class="managmentButtom" onclick="generoStock()">Generos</button>
            </div>
            <form id="genresForm">
                <div class="generosContainer">
                    {% for genre in Genres %}
                    <div id="genreItem">
                        <input type="checkbox" id="generosBox">
                        <span for="text" id="generosText">{{genre[0]}}</span>
                    </div>
                    {% endfor %}
                    <button id="filtrarGeneroButtom" class="managmentButtom" onclick="filtrarGenero()">Filtrar</button>
                </div>
            </form>
            <div class='products'>
                {% for book in Books %}
                <div class='productItem' onclick="window.location.href='/redirect_to_book/{{ book[6] }}/{{ IdEstoque }}'">
                    <img src="{{ book[4] }}" alt="Book Cover">
                    <span id="titleProduct">{{book[0]}}</span>
                    <span id="authorProduct">{{book[1]}}</span>
                    <span id="precoProduct">R$ {{book[2]}}</span>
                    <span id="productQntd">Quantidade: {{book[3]}} </span>
                    <span id="productEmail">Avaliação: {{book[5]}} </span>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>

    <script src="{{url_for('static',filename='javascript/sideBar.js')}}"></script>
    <script src="{{url_for('static',filename='javascript/estoque/addProductForm.js')}}"></script>
    <script src="{{url_for('static',filename='javascript/estoque/generoForm.js')}}"></script>
</body>

</html>